html { 
    box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
    box-sizing: inherit; 
}

body {
    margin: 0;
    padding: 0;
  
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    color: #000000;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.btn:hover,
.btn:focus {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.main-header {
    background-color: #f1f5f7;
}

.header-top {
    margin-bottom: 46px;

    font: inherit;

    text-align: center;

    background-color: #293449;
}

.header-top .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-top a,
.header-navigation a {
    color: #ffffff;
}

.logo {
    padding-top: 13px;
    padding-right: 55px;
    padding-bottom: 7px;
    padding-left: 56px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;

    cursor: pointer;
}

.logo:hover,
.logo:focus{
    background-color: #ca2c37;
    border-color: #9a212a;
}

.logo:active{
    background-color: #ba2732;
    border-color: #8e1e26;
}

.header-search {
    width: 270px;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 49px;
    
    border: 0;
    
    color: #ffffff;
    background-color: #293449;
}

.header-search::-webkit-input-placeholder {
    color: #ffffff;
}

.header-search::-moz-placeholder {
    color: #ffffff;
}

.header-search:-ms-input-placeholder {
    color: #ffffff;
}

.header-search::-ms-input-placeholder {
    color: #ffffff;
}

.header-search::placeholder {
    color: #ffffff;
}

.header-link {
    width: 150px;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 33px;
    padding-right: 15px;
}

.header-search:hover,
.header-link:hover,
.header-link:focus {
    background-color: #212a3a;
}

.header-search:focus,
.header-search:active {
    color: #000000;

    background-color: #ffffff;
}

.header-link:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.header-search-form,
.header-link {
    position: relative;
}

.header-search-form .search-form_icon,
.header-link .header-link_icon {
    position: absolute;
    left: 17px;
    top: 12px;
    fill: #ffffff;
    opacity: 0.3;
}

.header-search:hover ~ .search-form_icon, 
.header-link:hover.header-link::before{
    opacity: 1;
}

.header-search:focus ~ .search-form_icon,
.header-search:active ~ .search-form_icon {
    fill: #ee3643;
    opacity: 1;
}

.header-link:focus.header-link::before,
.header-link:active.header-link::before {
    opacity: 0.5;
}

.header-link_bookmark::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 17px;
    opacity: 0.3;
    background-image: url(../img/icon-bookmark.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.header-link_cart::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 18px;
    opacity: 0.3;
    background-image: url(../img/icon-cart.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.header-link_red {
    background-color: #ee3643;
}

.checkout-link {
    padding-top: 13px;
    padding-right: 22px;
    padding-bottom: 12px;
    padding-left: 20px;
    background-color: #63a63e;
}

.checkout-link:hover,
.checkout-link:focus {
    background-color: #5fbb2d;
}

.checkout-link:active {
    background-color: #518534;
}

.header-center {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.header-title {
    width: 250px;
    margin: 0;
    padding-top: 3px;
    padding-left: 53px;
    padding-bottom: 40px;

    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.49;

    color: #ee3643;
}

.header-title.header-title_inner {
    width: 270px;
}

.header-phone {
    position: relative;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 9px;
    padding-top: 9px;
    padding-left: 45px;
    padding-right: 22px;

    font-size: 21px;

    text-align: center;
    color: #ee3643;

    border: 3px solid #ffffff;
}

.header-phone::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: 10px;
    left: 12px;
    background-image: url(../img/icon-phone.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.header-address {
    width: 270px;
    margin-top: 0;
    text-align: center;

    font-size: 14px;
    color: #32425c;
}
.user-navigation {
    display: flex;
    justify-content: flex-end;
    width: 281px;
    margin-top: 0;
    padding-left: 0;
}

.user-navigation,
.header-navigation ul,
.promo-slider,
.catalog-list,
.manufacturer-list,
.service-slider,
.service-navigation,
.footer-navigation,
.footer-navigation-promo,
.footer-social,
.breadcrumbs,
.filter-list,
.catalog-sorting ul,
.catalog-pagination-list,
.partners-list {
    list-style: none;
}

.user-navigation a,
.user-login {
    display: inline-block;
    vertical-align: middle;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 11px;
    padding-left: 26px;

    font-size: 21px;

    text-align: center;
    color: #000000;

    background-color: #ffffff;
}

.user-navigation .login-link {
    position: relative;
    margin-right: 10px;
    padding-left: 47px;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-link:hover,
.user-link:focus {
    color: #ee3643;
}

.user-navigation a:active,
.user-login:active,
.user-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.login-link_icon {
    position: absolute;
    left: 14px;
    top: 14px;
    fill: #c5c5c5
}

.login-link:hover .login-link_icon,
.login-link:focus .login-link_icon {
    fill: #32425c;
}

.login-link:active .login-link_icon {
    fill: #c5c5c5;
}

.header-login {
    width: 299px;
}

.user-profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    background-color: #ffffff;
}

.user-link {
    padding-left: 28px;

    font-size: 16px;
    color: #32425c;

    text-decoration: underline;
}

.user-login {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 47px;
}

.user-login_icon {
    position: absolute;
    left: 14px;
    fill: #c5c5c5;
}

.user-logout {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-top: 15px;
    padding-right: 8px;
    padding-left: 30px;
}

.user-logout_icon {
    position: absolute;
    right: 9px;
    fill: #c5c5c5;

}

.user-link.user-link_order {
    position: relative;
    padding-left: 18px;
}

.user-link_order::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -19px;
    width: 4px;
    height: 4px;

    border-radius: 100%;
    background-color: #32425c;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.user-login:hover .user-login_icon,
.user-logout:hover .user-logout_icon,
.user-login:focus .user-login_icon,
.user-logout:focus .user-logout_icon {
    fill: #32425c;
}

.user-login:active .user-login_icon,
.user-logout:active .user-logout_icon {
    fill: #c5c5c5;
}

.catalog-container {
    display: flex;
    flex-direction: column;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
    margin-right: 0;
    margin-bottom: 23px;
    margin-left: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;

    text-transform: uppercase;
}

.breadcrumbs li {
    position: relative;
    margin-right: 15px;
}

.breadcrumbs li:not(:first-child) {
    padding-left: 26px;
}

.breadcrumbs-link_home {
    display: block;
    position: relative;
    width: 14px;
    height: 12px;

    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs li:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 12px;

    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-navigation {
    width: 100%;
    padding-bottom: 65px;
}

.header-navigation ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

.header-navigation a {
    display: block;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-right: 31px;
    padding-left: 29px;

    font: inherit;

    text-align: center;

}

.header-navigation a:hover,
.header-navigation a:focus {
    background-color: #293449;
}

.header-navigation a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

.promo {
    display: flex;
    flex-wrap: wrap;
    padding-top: 59px;
    padding-bottom: 53px;

    font: inherit;

    color: #ffffff;   
}

.promo h3 {
    margin-top: 0;
    margin-bottom: 15px;

    font-size: 24px;
    font-weight: 700; 
}

.promo-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 20px;
}

.promo-item {
    width: 300px;
    min-height: 123px;
    padding-top: 24px;
    padding-left: 23px;
    padding-bottom: 22px;
    padding-right: 23px;

    background-repeat: no-repeat;
    background-position: 80% 50%;
}

.promo-stock .promo-item:last-child {
    margin-top: 10px;
}

.promo-item a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    max-width: 135px;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 11px;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.promo-item a:hover,
.promo-item a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo-item_new,
.catalog-item_new {
    position: relative;
}

.promo-item_new::before,
.catalog-item_new::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    top: 0;
    right: 0;
    background-image: url(../img/new-flag.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.catalog-item_new::before {
    top: -1px;
    right: -1px;
}

.promo-catalog {
    position: relative;
    width: 620px;
    margin-right: 20px;
}

.promo-slider {
    width: 620px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.promo-slider li {
    display: none;
    padding: 22px 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.promo-slider p {
    margin: 0;
}

.promo-slider p:first-child {
    text-transform: uppercase;
    font-size: 38px;
    padding-bottom: 4px;
}

.promo-slider p:nth-child(2) {
    font-size: 18px;
}

.promo-slider .promo-slider_active {
    display: block;
}

.promo-slider_perforator {
    background-image: url(../img/slider-1.jpg);
}

.promo-slider_drill {
    background-image: url(../img/slider-2.jpg);
}

.promo-slider a {
    display: inline-block;
    vertical-align: middle;
    margin-top: 124px;
    padding: 13px 46px 11px 51px;

    font-size: 14px;
}

.promo-navigation {
    position: absolute;
    top: 114px;
    width: 26px;
    height: 41px;
    
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    border: none;
    
    cursor: pointer;
}

.promo-navigation_last {
    background-image: url(../img/icon-left.svg);
    left: 25px;
}

.promo-navigation_next {
    background-image: url(../img/icon-left.svg);
    transform: rotate(180deg);
    right: 19px;
}

.promo-dots {
    position: absolute;
    left: 296px;
    bottom: 36px;

    font-size: 0;
}

.promo-dots-item {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    padding: 0;

    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;

    cursor: pointer;
}

.promo-dots-item:not(:last-child) {
    margin-right: 10px;
}

.promo-dots-item_active {
    background-color: #ee3643;
}

.promo-stock {
    display: flex;
    flex-direction: column;
}

.promo-item_material {
    background-color: #ffbf47;
    background-image: url(../img/tin.svg);
    background-repeat: no-repeat;
    background-position: 83% 53%;
}

.promo-item_tool {
    background-color: #3bbce3;
    background-image: url(../img/screwdriver.svg);
    background-repeat: no-repeat;
    background-position: 88% 53%;
}

.promo-item_mechanism {
    background-color: #dc91d8;
    background-image: url(../img/tractor.svg);
    background-repeat: no-repeat;
    background-position: 86% 53%;
}

.promo-item_discount {
    margin-bottom: 10px;
    background-color: #8ed78f;
    background-image: url(../img/trolley.svg);
    background-repeat: no-repeat;
    background-position: 81% 53%;
}

.promo-item_delivery {
    background-color: #ffc047;
    background-image: url(../img/car.svg);
    background-repeat: no-repeat;
    background-position: 86% 53%;
}

.popular-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-right: 23px;
    padding-bottom: 26px;
    padding-left: 28px;

    background-color: #f9f5f0;
}

.popular-title h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 400;

    color: #32425c;
    text-transform: uppercase;
}

.popular-title .btn {
    display: inline-block;
    vertical-align: middle;
    width: 253px;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;

    font-size: 14px;
}

.catalog {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 60px;
}

.catalog-filter {
    width: 220px;
}

.catalog-col {    
    display: flex;
    flex-direction: column;
    width: 700px;
}

.catalog-sorting {
    display: flex;
}

.catalog-sorting-by {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0;
    width: 355px;
}

.catalog-sorting-ascdesc {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 17px;
}

.catalog-sorting-ascdesc li:first-child {
    padding-right: 21px;
}

.catalog-sorting-ascdesc svg {
    fill: #c5c5c5;
}

.catalog-sorting-ascdesc a:hover svg,
.catalog-sorting-ascdesc a:focus svg {
    fill: #000000;
}

.catalog-sorting-ascdesc a:active svg,
.catalog-sorting_active svg {
    fill: #ee3643;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 11px;
    padding-left: 0;
}

.catalog-item {
    position: relative;
    width: 220px;
    min-height: 318px;
    margin-top: 10px;
    margin-bottom: 10px;

    font-family: "PT Sans", Arial, sans-serif;
    border: 1px solid #e5e5e5;
}

.catalog-item a {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100%;
    padding-bottom: 20px;
}

.catalog-col .catalog-item:nth-child(3n+1) {
    margin-left: 0;
}

.catalog-col .catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item h3 {
    margin-top: 8px;
    margin-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 18px;
    color: #000000;
    text-align: center;
    line-height: 1.2;
}

.catalog-item-price {
    margin-top: auto;
    margin-bottom: 0;

    font-size: 17px;
    font-weight: 700;
}

.price-old {
    display: block;
    padding-bottom: 26px;
    height: 1px;

    color: #a9a9a9;
    text-decoration: line-through;
    text-align: center;
}

.price-current {
    position: relative;
    left: 42px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 11px;
    padding-right: 21px;
    padding-bottom: 10px;
    padding-left: 36px;

    color: #ffffff;
    text-align: center;

    background-color: #ee3643;    
    border-radius: 3px;
}

.price-current::after {
    content: "";
    position: absolute;
    top: 0;
    right: -36px;
    width: 0;
    height: 0;

    border: 19px solid white;
    border-left-color: #ee3643;
}

.catalog-item:hover,
.catalog-item:focus {
    box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-item-image,
.catalog-item:focus .catalog-item-image {
    opacity: 0;
}

.catalog-item-btn {
    position: absolute;
    display: block;
    top: 28px;
    width: 100%;
    padding-right: 42px;
    padding-left: 42px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;

    opacity: 0;
}

.catalog-item:hover .catalog-item-btn,
.catalog-item:focus .catalog-item-btn {
    opacity: 1;
}

.catalog-item .btn-cart {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 135px;
    margin-bottom: 8px;
    padding-top: 13px;
    padding-bottom: 9px;

    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    background-color: #63a63e;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid #367315;

    cursor: pointer;
}

.btn-cart:hover,
.btn-cart:focus {
    background-color: #5fbb2d;
}

.btn-cart:active {
    background-color: #518534;
    border-bottom: 3px solid #518534;
}

.btn-cart::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    left: 14px;
    top: 12px;
    opacity: 0.3;

    background-image: url(../img/icon-cart.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.btn-cart:hover.btn-cart::before,
.btn-cart:focus.btn-cart::before,
.btn-cart:active.btn-cart::before{
    opacity: 1;
}

.btn-bookmark {
    display: block;
    width: 135px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 9px;
    padding-bottom: 7px;

    color: #32425c;
    text-transform: uppercase;

    background-color: #ffffff;
    border-radius: 3px;
    border: 3px solid #63a63e;

    cursor: pointer;
}

.btn-bookmark:hover,
.btn-bookmark:focus {
    border: 3px solid #32425c;
}

.btn-bookmark:active {
    color: rgba(50, 66, 92, 0.302);
    border: 3px solid #c1c6ce;
}

.manufacturer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 58px;
    padding-left: 0;
}

.manufacturer-list li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.manufacturer-list a {
    display: inline-flex;
    width: 220px;
    height: 145px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;

    text-align: center;

    border: 1px solid #e5e5e5;
}

.manufacturer-list li:nth-child(4n-3) {
    margin-left: 0;
}

.manufacturer-list li:nth-child(4n) {
    margin-right: 0;
}

.manufacturer-list a:hover,
.manufacturer-list a:focus,
.manufacturer-list a:active {
    box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.manufacturer-list a:active img {
    opacity: 0.3;
}

.service {
    padding-top: 65px;
    padding-bottom: 6px;
}

.service,
.item-about {
    color: #000000;

    background-color: #f4f7f9;
}

.item-about {
    padding-top: 65px;
    padding-bottom: 54px;
}

.service h2,
.about h2,
.contacts h2,
.item-about h2 {
    margin: 0;

    font-size: 30px;
    font-weight: 400;

    text-transform: uppercase;
}

.service p,
.contacts p,
.about p,
.item-about p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.9;
}

.item-about p {
    margin-top: 27px;
    
    line-height: 1.9;
}

.servive-description {
    width: 410px;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
}

.service h2 {
    margin-bottom: 25px;
    width: 100%;
}

.service p {
    margin-top: 0;
    margin-bottom: 30px;
}

.service-navigation {
    position: relative;
    width: 240px;
    padding-top: 22px;
    padding-left: 0;
}

.service-navigation::after {
    content: "";
    
    position: absolute;
    top: -25px;
    right: 0;
    width: 10px;
    height: 286px;

    background-image: url(../img/shadow.png);
    background-repeat: no-repeat;
}

.service-navigation li {
    padding-top: 19px;
    padding-right: 22px;
    padding-bottom: 22px;
    padding-left: 22px;

    font-size: 21px;
    font-weight: 700;
    color: #ffffff;

    background-color: #32425c;

    cursor: pointer;
}

.service-navigation li:hover {
    color: #ffffff;

    background-color: #293449;
}

.service-navigation li:not(.service-navigation_active) {
    box-shadow: 0px 1px 0px 0px rgba(64, 80, 105, 1) inset;
}

.service-navigation .service-navigation_active {
    color: #32425c;

    background-color: #ffffff;
}

.service-slider {    
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 0;
}

.service-slider li {
    display: none;
    padding-left: 80px;

    background-color: transparent;
    background-repeat: no-repeat;
    min-height: 283px;
    background-position: 100% 45px;
}

.service-slider .service-slider_active {
    display: block;
}

.service-slider p {
    width: 274px;
}

.service-slider li .service-title {
    display: block;
    padding-top: 4px;
    padding-bottom: 7px;


    font-family: "Cuprum", Arial, sans-serif;
    font-size: 37px;

    color: #32425c;
    text-transform: uppercase;
}

.service-slider_delivery {
    background-image: url(../img/auto-delivery.png);
}

.service-slider_guarantee {
    background-image: url(../img/contract.png);
}

.service-slider_credit {
    background-image: url(../img/medal.png);
}

.index-info {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 85px;
}

.about {
    width: 540px;
}

.partners-list {
    margin-top: 15px;
    padding-left: 0;
}

.partners-list li {   
    padding-top: 8px;
    padding-bottom: 14px;

    font-size: 18px;
}

.partners-list li::before {
    content: "";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    width: 25px;
    height: 2px;
    margin-right: 11px;
    vertical-align: middle;

    background-color: #ee3643;
}

.about .btn,
.contacts .btn {
    display: inline-block;    
    vertical-align: middle;
    margin-top: 4px;
    padding-top: 13px;
    padding-right: 10px;
    padding-bottom: 13px;
    padding-left: 10px;
    
    font-size: 14px;
}

.about .btn {
    width: 220px;
}

.contacts .btn {
    width: 100%;
}

.about p,
.contacts p {
    margin-top: 26px;
}

.about .about-partners {
    width: 390px;
    margin-top: 24px;
}

.contacts {
    width: 300px;
}

.contacts p {
    width: 210px;
}

.contacts img {
    margin-top: 18px;
    margin-bottom: 32px;
}

.main-footer {
    background-color: #32425c;
    padding-bottom: 30px;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.main-footer .container:first-child {
    padding-bottom: 14px;
}

.main-footer .logo {
    width: 221px;
    height: 63px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 19px;
    padding-bottom: 17px;

    text-align: center;
}

.footer-navigation {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 719px;
    margin-top: 21px;
    margin-bottom: 0;
    padding: 0;

    font-size: 18px;
}

.footer-navigation a,
.footer-navigation-promo a {
    display: block;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 59px;
}

.footer-contacts {
    width: 327px;
    padding-left: 4px;

    font-size: 18px;

    line-height: 1.4;
}

.footer-navigation-promo {
    display: flex;    
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 620px;
    margin-top: 2px;
    padding: 0;

    font-size: 18px;
}

.footer-navigation a,
.footer-contacts,
.footer-contacts a {
    color: #ffffff;
}

.footer-navigation-promo a,
.footer-link {
    color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-navigation-promo a:hover,
.footer-navigation-promo a:focus,
.footer-link:hover,
.footer-link:focus {
    text-decoration: underline;
}

.footer-navigation a:active,
.footer-navigation-promo a:active {
    opacity: 0.5;
}

.footer-bottom {
    padding-top: 38px;
    padding-bottom: 30px;

    color: #ffffff;

    background-color: #293449;
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
}

.footer-bottom p {
    margin: 0;

    font-size: 16px;
    line-height: 1.1;
}

.footer-copyright {
    width: 250px;
}

.footer-feedback {
    width: 152px;
}

.footer-developer {
    width: 110px;
}

.footer-social_icon {
    fill: #ffffff;
}

.footer-social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -3px;
    width: 320px;
    padding-left: 24px;
}

.footer-social_vk::before {
    content: "";
    width: 26px;
    height: 15px;

    background-image: url(../img/icon-vk.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-social_fb::before {
    content: "";
    width: 12px;
    height: 22px;

    background-image: url(../img/icon-fb.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-social_insta::before {
    content: "";
    width: 21px;
    height: 21px;

    background-image: url(../img/icon-insta.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 42px;
    margin-right: 4px;

    color: #ffffff;
    text-decoration: none;
    background-color: #212a3a;
    border-radius: 50%;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
    background-color: #ee3643;
}

.footer-link:active {
    color: #ee3643;
}

.breadcrumbs a {
    color: #000000;
}

.title {
    margin: 0;
    padding-top: 30px;
    padding-right: 23px;
    padding-bottom: 28px;
    padding-left: 28px;
    
    font-size: 30px;
    font-weight: 400;

    background-color: #f2f6f8;
    color: #32425c;
    text-transform: uppercase;
}

.filter-title {
    margin: 0;
    padding-top: 11px;
    padding-left: 19px;
    padding-bottom: 13px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;

    text-transform: uppercase;
    background-color: #f7f3ec;
}

.filter-form {
    font-family: "PT Sans", Arial, sans-serif;
    
    text-transform: uppercase;
}

.filter-form legend {
    font-size: 17px;
    font-weight: 700;

}

.filter-form fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filter-form fieldset:first-of-type {
    margin-top: 18px;
}

.filter-form fieldset:not(:last-of-type) {
    margin-bottom: 23px;
    border-bottom: 1px solid #e5e5e5;
}

.price-from,
.price-to {    
    display: inline-block; 
    vertical-align: middle;
    width: 95px;
    padding-top: 9px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 18px;
    -moz-appearance: textfield;

    font-size: 17px;

    text-align: center;
    background-color: #f7f3ec;
    border: none;
}

.price-from::-webkit-inner-spin-button,
.price-to::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price-to {
    margin-left: 6px;
}

.filter-price {
    position: relative;
    margin-top: 20px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-bottom: 39px;
    padding-left: 20px;

    background-color: #f7f3ec;
}

.filter-price_line {
    width: 100%;
    border-bottom: 2px solid #c5c5c5;
}

.filter-price_line.line_green {
    position: absolute;
    width: 140px;
    border-bottom: 2px solid #00ca74;
}

.filter-price_button {
    position: absolute;
    width: 20px;
    height: 22px;
    top: 30px;

    background-color: transparent;
    background-image: url(../img/filter-button.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;

    cursor: pointer;
}

.filter-price_up {
    right: 40px;
}

.price-field {
    margin-top: 0;
    margin-bottom: 26px;
    height: 37px;
    text-align: center;
}

.filter-list {
    margin-top: 19px;
    margin-bottom: 3px;
    padding-left: 0;

    font-size: 15px;
}

.filter-list li {
    padding-bottom: 16px;

    line-height: 1.6;
}

.filter-list_label {
    position: relative;
    padding-left: 34px;
}

.filter-list_check::before {
    content: "";
    position: absolute;
    left: 0;
    width: 27px;
    height: 23px;

    background-image: url(../img/checkbox-off.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.8;

    cursor: pointer;
}

.filter-list_field[type="checkbox"]:checked + .filter-list_check::before {
    background-image: url(../img/checkbox-on.svg);
}

.filter-list_field[type="checkbox"]:hover + .filter-list_check::before,
.filter-list_field[type="checkbox"]:focus + .filter-list_check::before {
    opacity: 1;
}

.filter-list_field[type="checkbox"]:disabled + .filter-list_check {
    opacity: 0.3;
}

.filter-list_radio::before {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;

    background-image: url(../img/radio-off.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.8;

    cursor: pointer;
}

.filter-list_field[type="radio"]:checked + .filter-list_radio::before {
    background-image: url(../img/radio-on.svg);
}

.filter-list_field[type="radio"]:hover + .filter-list_radio::before,
.filter-list_field[type="radio"]:focus + .filter-list_radio::before {
    opacity: 1;
}

.filter-list_field[type="radio"]:disabled + .filter-list_radio {
    opacity: 0.3;
}

.filter-form fieldset:last-of-type {
    margin-bottom: 57px;
}

.filter-send {
    padding-top: 12px;
    padding-right: 39px;
    padding-bottom: 10px;
    padding-left: 38px;

    font-size: 13px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;

    cursor: pointer;
}

.catalog-sorting {
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 20px;

    font-family: "PT Sans", Arial, sans-serif;
    
    font-size: 13px;
    text-transform: uppercase;
    background-color: #f7f3ec;
}

.catalog-sorting p {
    margin-top: 0;
    margin-bottom: 0;
}

.catalog-sorting a {
    color: rgba(0, 0, 0, 0.302);
    text-decoration: underline dotted #ee3643;
}

.catalog-sorting a:hover,
.catalog-sorting a:focus {
    color: #000000;
    text-decoration: underline solid #ee3643;
}

.catalog-sorting a:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-pagination-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 31px;
}

.catalog-pagination-list a {
    display: block;   
    min-height: 38px;
    min-width: 37px;
    margin-right: 11px;
    padding-right: 14px;
    padding-left: 14px;

    font-family: "PT Sans", Arial, sans-serif;

    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    line-height: 2.8;
    
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.catalog-pagination-list .catalog-pagination_last {
    padding-left: 31px;
    padding-right: 31px;
}

.catalog-pagination-list .catalog-pagination_current {
    color: #ffffff;
    background-color: #ee3643;
    border: 1px solid #ee3643;
}

.catalog-pagination-list a:hover,
.catalog-pagination-list a:focus {
    border-color: #bdc6ca;
}

.catalog-pagination-list a:active {
    border-color: #ee3643;
}

.btn_white {
    color: #000000;
    background-color: #ffffff;
}

.btn_white:hover,
.btn_white:focus {
    color: #ffffff;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, calc(-20% - 2000px));
    }

    70% {
        transform: translate(-50%, calc(-20% + 30px));
    }

    90% {
        transform: translate(-50%, calc(-20% + 10px));
    }

    100% {
        transform: translate(-50%, -20%);
    }
}

@keyframes shake {
    0%,
    100% {
      transform: translate(-50%, -20%);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate(calc(-50% - 10px), -20%);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate(calc(-50% + 10px), -20%);
    }
}

.modal {
    display: none;

    position: fixed;
    width: 100%;
    top: 20%;
    left: 50%;
    
    transform: translate(-50%, -20%);
}


.modal_active {
    display: block;
    z-index: 1;

    animation: bounce 0.6s;
}

.modal_error {
    animation: shake 0.6s;
}

.modal-map {
    max-width: 940px;
    height: 476px;

    background: #fff;
    box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal-map iframe {
    position: relative;
    z-index: 2;
    
    border: none;
}
.modal-map img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.modal-feedback,
.modal-cart {
    max-width: 620px;

    background: #fff;
    border-top: 7px solid #ee3643;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.modal-feedback label {
    display: block;
    margin-bottom: 10px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1;
}

.modal-feedback input,
.modal-feedback textarea {    
    padding: 5px 13px;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.85;
    color: #999999;

    border: solid 2px #d7dcde;
    background-color: #ffffff;
}

.modal-feedback input::placeholder,
.modal-feedback textarea::placeholder {
    color: #a9a9a9;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
    border: solid 2px #b5b5b5;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
    border: solid 2px #ee3643;
    outline: none;
}

.feedback-form_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 47px;
    padding-bottom: 35px;
}

.feedback-form_field {
    margin-top: 0;
    margin-bottom: 20px;
}

.feedback-form_field.feedback-form_full {
    width: 100%;
}

.feedback-form_field:last-of-type {
    margin-bottom: 0;
}

.feedback-form_field input {
    width: 220px;
}

.modal-feedback textarea {
    width: 100%;
    min-height: 114px;
    resize: none;
}

.send-feedback {
    padding-top: 36px;
    padding-right: 80px;
    padding-bottom: 37px;
    padding-left: 80px;

    background-color: #f4f4f4;
}

.send-feedback .btn {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 11px;

    font-size: 14px;

    cursor: pointer;
}


.cart-message {
    position: relative;
    margin: 0;
    padding-top: 65px;
    padding-bottom: 51px;
    padding-left: 179px;

    font-size: 30px;
}

.cart-message::before {
    content: "";
    position: absolute;
    left: 81px;
    top: 48px;
    width: 68px;
    height: 68px;

    background-image: url(../img/icon-mark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cart-action {
    margin-bottom: 0;
    padding-top: 36px;
    padding-bottom: 36px;
    
    background-color: #f4f4f4;
    text-align: center;
}

.cart-action .btn {
    display: inline-block; 
    vertical-align: middle;
    width: 220px;
    margin-right: 9px;
    padding-top: 14px;
    padding-bottom: 12px;

    font-size: 14px;
}    

.cart-action .btn.btn_white {
    margin-right: 0;
    margin-left: 8px;
}

.btn-close {
    position: absolute;
    z-index: 3;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;

    background-image: url(../img/icon-close.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;

    cursor: pointer;
}